@font-face {
  font-family: nexa;
  src: url("fonts/nexa/Nexa_Bold.otf");
}

html,
body,
h2,
header,
section,
li,
dt,
dd,
ul {
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
}

a {
  color: rgb(102, 93, 84);
  text-decoration: none;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  background: #2b2b2b;
  color: rgb(102, 93, 84);
}

header {
  text-align: center;
  color: white;
  font-family: nexa, sans-serif;
  font-size: 1em;
  background-color: #4e4e53;
  background-image: url("../images/code@1x.jpg");
  transition: background-position 0.5s ease;
}

header:after {
  content: "";
  width: auto;
  display: block;
  position: relative;
  height: 0.5em;
  background: linear-gradient(
    to right,
    #f89c20 0%,
    #f89c20 6%,
    #f89c20 6%,
    #f89c20 13%,
    #d02e27 13%,
    #d02e27 19%,
    #d02e27 19%,
    #d02e27 25%,
    #e54e26 25%,
    #e54e26 31%,
    #e54e26 31%,
    #e54e26 37%,
    #7f1333 37%,
    #7f1333 44%,
    #7f1333 44%,
    #7f1333 50%,
    #694d9f 50%,
    #694d9f 56%,
    #694d9f 56%,
    #694d9f 63%,
    #263c81 63%,
    #263c81 69%,
    #263c81 69%,
    #263c81 75%,
    #2eb3c4 75%,
    #2eb3c4 81%,
    #2eb3c4 81%,
    #2eb3c4 88%,
    #92a771 88%,
    #92a771 94%,
    #92a771 94%,
    #92a771 100%
  );
  border-bottom: 0.2em solid rgb(200, 194, 183);
}

p.about {
  font-size: 1em;
}

.generated {
  font-weight: bold;
}

header img {
  background-color: #f7f5f1;
  padding: 0.3em;
  border-radius: 0.3em;
  margin-right: 1em;
  position: relative;
  left: 0px;
  top: 0em;
  z-index: 1000;
}

header h1 {
  display: inline-block;
  border-bottom: none;
  font-size: 1.2em;
}

p,
.fancypill {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

#join {
  line-height: 1.5em;
  text-align: center;
  font-style: italic;
  padding: 0.5em 0;
  font-size: 1em;
  font-weight: bold;
  background-size: contain;
  padding-top: 0.5cm;
}

/*has 2 columns in a grid*/
.buttonlist {
  --pill-bg-color: #2eb3c4;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  grid-gap: 0.5em;
  margin: 0.5em;
  padding: 0.5em;
}

.fancypill {
  margin-top: 1.2em;
  font-style: normal;
  min-width: 45%;
}

.fancypill > li {
  line-height: 2.875em;
  background: var(--pill-bg-color);
}

.fancypill a {
  color: rgb(249, 245, 236);
}

.fancypill li:first-child,
.fancypill li:last-child {
  border-radius: 0.625em;
}

.fancypill li:first-child {
  border-radius: 0.625em 0 0 0.625em;
}

.fancypill li:last-child {
  border-radius: 0 0.625em 0.625em 0;
}

section > p {
  margin: 1em 1em;
}

pre.bash {
  box-shadow: inset 0 0 10px #000000;
  border-radius: 4px;
  border: 2px solid rgb(172, 172, 172);
  margin: 1em;
  padding: 0.6em 0.5em;
  background: linear-gradient(
    to bottom,
    rgb(76, 76, 76) 0%,
    rgb(0, 0, 0) 51%,
    rgb(17, 17, 17) 73%,
    rgb(28, 28, 28) 91%,
    rgb(19, 19, 19) 100%
  );
  color: rgb(163, 201, 160);
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

section > h2 {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  color: rgb(94, 85, 76);
  background-color: rgb(229, 222, 213);
  line-height: 2.2em;
  padding-left: 0.625em;
  border-bottom: 0.2em solid #e0d9ce;
}

footer {
  margin: 0.625em 0;
  text-align: center;
  transform: translate3d(0, 0, 0);
}

#attributions {
  text-align: center;
  font-size: 0.7em;
  background-color: black;
  color: rgb(200, 200, 200);
  font-family: sans-serif;
  padding-top: 1em;
}

#attributions a {
  color: rgb(200, 200, 200);
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  grid-gap: 1em;
  list-style-type: none;
  padding: 1em 2.2em;
  line-height: 2.2em;
}

img {
  vertical-align: middle;
}

.docslist,
.interactivelist {
  line-height: 2em;
}

.linkslist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  grid-gap: 1em;
  padding-left: 1em;
}

.linkslist > li {
  text-align: center;
}

.docslist a.spec {
  font-weight: bold;
}

main {
  background-color: rgb(250, 245, 236);
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

dt,
dd {
  padding-left: 1em;
}

dd.meta {
  font-size: 0.7em;
  color: rgb(132, 132, 132);
  font-family: sans-serif;
  line-height: 1em;
  padding-top: 0.4em;
  padding-left: 1.4em;
  margin-bottom: 1.5em;
}

dd.description {
  font-size: 0.9em;
  line-height: 1.5em;
  padding-right: 0.5em;
}

span.github-stars {
  white-space: nowrap;
  display: inline-block;
}

p a:link, .linkslist a:link, ol a:link {
  text-decoration: underline;
}

#update-toast {
  display: none;
  padding: 0.5cm 0.5cm 0.5cm 0.5cm;
  background: black;
  border: 1px solid blue;
  border-bottom: none;
  position: fixed;
  bottom: 0px;
  width: 50%;
  left: 20%;
  margin: 0 auto;
  animation: fadein 2s;
  border-radius: 1em 1em 0 0;
}

#update-toast.show {
  display: inline-block;
}

#update-toast button {
  border: none;
  background: inherit;
  color: pink;
  font-size: inherit;
  padding-right: 0.2cm;
  padding-left: 0.2cm;
  text-decoration: underline;
}

#update-toast button:focus {
  outline: 0;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.multicol {
  display: grid;
}

#archived dt > a.spec::after {
  content: " (ARCHIVED)";
  color: rgb(140, 80, 80);
  font-weight: 600;
  margin-right: 0.5em;
}

@media (min-width: 36em) {
  section > h2 {
    font-size: 0.9em;
  }
  .multicol {
    grid-template-columns: 1fr 1fr;
  }
  header {
    background-position: 50% 40%;
  }
}

@media (min-width: 64em) {
  .multicol {
    grid-template-columns: 1fr 1fr 1fr;
  }
  header {
    background-position: 0% 60%;
  }
}
